#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  margin: 60px auto;
  max-width: 800px;
}
.selected-items{
  width: 300px;
  border: 2px solid;
  padding: 10px;
  margin: 10px;
  min-height: 100px;
  &--w-50{
    flex: 1;
    width: auto;
  }
  &__caption{
    margin-top: 30px;
  }
}
