<template>
  <div class="selected-items selected-items--w-50">
    <ThingItem v-for="thing in availableThings"
               @click="select(thing)"
               :key="thing.id"
               :thing="thing"></ThingItem>
  </div>
</template>
<script>
import ThingItem from "@/components/ThingItem";

export default {
  mounted() {
    this.$store.dispatch('fetchAvailableThings');
  },
  components: {
    ThingItem
  },
  computed: {
    availableThings() {
      return this.$store.getters.getAvailableThings;
    },
  },
  methods: {
    select(thing) {
      this.$store.dispatch('selectAvailableThing', thing);
    }
  }
}
</script>
