<template>
  <div class="selected-items">
    <ThingItem v-for="thing in selectedUserThings"
               :key="thing.id"
               @click="unSelect(thing)"
               :thing="thing">
    </ThingItem>
    <div class="selected-items__caption">
      Selected: {{ countSelectedUserThings }} / {{maxSelectedUserThings}}
    </div>
  </div>
</template>
<script>
import ThingItem from "@/components/ThingItem";

export default {
  components: {
    ThingItem
  },
  computed: {
    selectedUserThings() {
      return this.$store.getters.getSelectedUserThings;
    },
    countSelectedUserThings() {
      return this.$store.getters.getCountSelectedUserThings;
    },
    maxSelectedUserThings() {
      return this.$store.getters.getMaxSelectedUserThings;
    },
  },
  methods: {
    unSelect(thing) {
      this.$store.dispatch('unSelectUserThing', thing);
    }
  }
}
</script>
