<template>
  <div class="selected-items">
    <ThingItem v-if="selectedAvailableThing"
               @click="unSelect"
               :thing="selectedAvailableThing">
    </ThingItem>
    <div v-else>No selected</div>
  </div>
</template>
<script>
import ThingItem from "@/components/ThingItem";

export default {
  components: {
    ThingItem
  },
  computed: {
    selectedAvailableThing() {
      return this.$store.getters.getSelectedAvailableThing;
    }
  },
  methods: {
    unSelect() {
      this.$store.dispatch('restoreSelectAvailableThing');
    }
  }
}
</script>
