<template>
  <div class="item">
    {{thing.name}}
  </div>
</template>
<script>
export default {
  props: [
      'thing'
  ],
}
</script>
<style scoped lang="scss">
.item{
  border: 2px solid;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}
</style>
