<template>
  <div class="selected-items selected-items--w-50">
    <ThingItem v-for="thing in userThings"
               @click="select(thing)"
               :key="thing.id"
               :thing="thing"></ThingItem>
  </div>
</template>
<script>
import ThingItem from "@/components/ThingItem";

export default {
  mounted() {
    this.$store.dispatch('fetchUserThings');
  },
  components: {
    ThingItem
  },
  computed: {
    userThings() {
      return this.$store.getters.getUserThings;
    },
    countSelectedUserThings() {
      return this.$store.getters.getCountSelectedUserThings;
    },
    maxSelectedUserThings() {
      return this.$store.getters.getMaxSelectedUserThings;
    },
  },
  methods: {
    select(thing) {
      if (this.countSelectedUserThings < this.maxSelectedUserThings) {
        this.$store.dispatch('selectUserThing', thing);
      }
    }
  }
}
</script>
