<template>
  <div class="container">
    <slot></slot>
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
.container{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 30px;
}
</style>
