<template>
  <v-container>
    <selected-user-things/>
    <selected-available-thing/>
  </v-container>
  <v-container>
    <user-things/>
    <available-things/>
  </v-container>
</template>

<script>
import VContainer from "@/components/VContainer";
import UserThings from "@/components/UserThings";
import AvailableThings from "@/components/AvailableThings";
import SelectedUserThings from "@/components/SelectedUserThings";
import SelectedAvailableThing from "@/components/SelectedAvailableThing";

export default {
  name: 'App',
  components: {
    VContainer,
    UserThings,
    AvailableThings,
    SelectedUserThings,
    SelectedAvailableThing,
  }
}
</script>

<style lang="scss">
@import "./assets/scss/style";
</style>
